<template name="story">
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <strong>Story {{display_id}}</strong> ({{active_players.length}} players)
            </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                {{#if done}} 
                    <div class="highlight-info">
                        This story has been estimated.
                    </div>
                    <div class="playingCards simpleCards">
                        {{#each estimates}} 
                            {{> card }}
                        {{/each}} 
                    </div>
                {{else}}
                    <div class="highlight-info">Please estimate and wait for your team members.</div>
                    <div class="playingCards simpleCards" id="cards">
                        {{#each cards}}
                            {{> card}}
                        {{/each}}
                    </div>
                {{/if}}        
            </div>
            <div class="col-md-4 col-xs-12">
                {{#if is_moderator}}
                    <div class="highlight">        
                        <div class="row">
                            <div class="col-xs-12"><div class="moderator-title">You are moderator for this story</div></div>
                            <div class="col-xs-12">
                                {{#if can_force_show}}
                                    <button class="btn btn-default btn" id="force_show">Force show</button>
                                {{/if}} 
                            </div>
                            <div class="col-xs-12">
                                {{#if done}}
                                    <button class="btn btn-primary" id="create_new">Create new story</button>        
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>

        {{> storychat}}

    </div>
</template>

<template name="card">
    <a href="#">
        {{#if is_card_back this}}
            <div class="card back">
                <span class="rank">*</span>
            </div>
        {{else}}
            <div class="card {{#if active_estimate this}} active {{/if}}">
                <span class="rank">{{this.value}}</span>
            </div>
        {{/if}}
        
    </a>
</template>

